@font-face {
    font-family: "Iskra";
    src: url("./Iskra\ W04\ Bold.ttf") ;
  }

  @font-face {
    font-family: "Calibri";
    src: url("./Calibri\ Regular.ttf") ;
  }

  @font-face {
    font-family: "CalibriBold";
    src: url("./Iskra\ W04\ Bold.ttf") ;
  }